body {
    background-color: #cdd6c5;
}

.item {
    vertical-align: top;
    display: inline-block;
    width: 120px;
    padding: 80px;
    text-align: center;
}

.images {
    margin-top: 50px;
    margin-left: 10px;
    height: 300px;
    width: 200px;
    border-radius: 12px;
}

.movie-title {
    display: block;
    padding-top: 10px;
    margin-left: 20px;
    font-family: 'Oswald';
    font-size: 18px;
    white-space: nowrap;
}

.author-name {
    display: block;
    padding-top: 10px;
    margin-left: -30px;
    font-family: 'Oswald';
    font-size: 18px;
    white-space: nowrap;
}